<% if @stages.empty? %>
  <p>No deployments for this host.</p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Project</th>
        <th>Stage</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <% @stages.each do |stage| %>
        <tr>
          <td><%= link_to stage.project.name, stage.project %></td>
          <td><%= link_to stage.name, [stage.project, stage] %></td>
          <td>
            <% stage.roles.find(:all, :conditions => ['host_id = ?', @host.id]).each do |role| %>
              <%= role.name %>
              <%= role.role_attribute_hash.inspect unless role.role_attribute_hash.blank? %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
