/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* GENERAL */
/* line 3, ../../app/stylesheets/_base.scss */
body {
  background-color: #F0F0F0;
  background: url('/images/peritor_theme/background.gif?1294735737') repeat;
  background-attachment: fixed;
  font-family: "Trebuchet MS", Verdana, serif;
  line-height: 16px;
}

/* line 11, ../../app/stylesheets/_base.scss */
ul {
  margin: 0px;
}

/* line 15, ../../app/stylesheets/_base.scss */
p {
  margin: 0px 0px;
  padding: 0px 0px 7px 0px;
}

/* line 20, ../../app/stylesheets/_base.scss */
form p {
  margin: 0px 0px;
  padding: 0px 0px 15px 0px;
}

/* line 25, ../../app/stylesheets/_base.scss */
form {
  margin: 0px;
  padding: 0px;
}

/* line 30, ../../app/stylesheets/_base.scss */
label {
  cursor: pointer;
}

/* line 34, ../../app/stylesheets/_base.scss */
pre {
  margin: 0px;
  padding: 0px;
}

/* line 39, ../../app/stylesheets/_base.scss */
.redtext {
  color: #A40008;
}

/* line 43, ../../app/stylesheets/_base.scss */
a {
  color: #A40008;
  font-weight: bold;
  text-decoration: none;
}

/* line 49, ../../app/stylesheets/_base.scss */
a:hover {
  color: #A40008;
  font-weight: bold;
  text-decoration: underline;
}

/* line 55, ../../app/stylesheets/_base.scss */
select, input, textarea {
  border: 1px solid #AAAAAA;
  padding: 2px;
  margin-top: 2px;
  font-family: "Trebuchet MS", Verdana, serif;
  font-size: 12px;
}

/* line 63, ../../app/stylesheets/_base.scss */
select {
  padding: 0px;
}

/* line 67, ../../app/stylesheets/_base.scss */
input:focus, textarea:focus {
  background-color: #F9F9F9;
  border: 1px solid #666666;
}

/* line 72, ../../app/stylesheets/_base.scss */
.noframe {
  border: none;
}

/* FIELDSETS */
/* line 78, ../../app/stylesheets/_base.scss */
fieldset {
  border: 1px solid #CCCCCC;
  padding: 5px 20px 15px 20px;
}

/* line 83, ../../app/stylesheets/_base.scss */
legend {
  font-size: 17px;
  padding: 1px;
  font-weight: bold;
  color: #333333;
}

/* LAYOUT APPLICATION */
/* line 92, ../../app/stylesheets/_base.scss */
#app_top {
  margin: 0 auto;
  width: 950px;
  background: url('/images/peritor_theme/background_app.png?1294735737') top no-repeat;
}

/* line 98, ../../app/stylesheets/_base.scss */
#app_bottom {
  margin: 0 auto;
  width: 950px;
  height: 50px;
  background: url('/images/peritor_theme/background_app.png?1294735737') bottom no-repeat;
}

/* line 105, ../../app/stylesheets/_base.scss */
#header {
  margin: 0 auto;
  width: 890px;
  height: 88px;
  border-bottom: 1px solid #BBBBBB;
}

/* line 112, ../../app/stylesheets/_base.scss */
#header_claim {
  text-align: right;
  float: right;
  font-weight: bold;
  font-size: 16px;
  color: #444444;
  padding-right: 10px;
  padding-top: 59px;
}

/* line 122, ../../app/stylesheets/_base.scss */
#main_content {
  margin: 0px 20px;
  padding: 30px 20px 20px 20px;
  background: #FFFFFF;
  min-height: 350px;
}

/* line 129, ../../app/stylesheets/_base.scss */
#footer {
  width: 870px;
  font-size: 11px;
  font-weight: bold;
  margin: 3px auto 20px auto;
}

/* line 136, ../../app/stylesheets/_base.scss */
#footer_logged {
  float: right;
}

/* line 140, ../../app/stylesheets/_base.scss */
.content {
  float: left;
  width: 670px;
  text-align: left;
  padding: 0px 0px 0px 30px;
  *padding: 0px 0px 0px 30px;
  font-size: 12px;
}

/* line 149, ../../app/stylesheets/_base.scss */
.deployment_status {
  width: 212px;
  border-top: 1px solid #CCCCCC;
  margin-top: 20px;
  padding: 10px 0px 0px 0px;
  text-align: center;
}

/* line 157, ../../app/stylesheets/_base.scss */
.deployment_block {
  background: url('/images/peritor_theme/deployment_block.gif?1294735737') top no-repeat;
  width: 619px;
  padding: 12px 6px;
  height: 85px;
  margin-top: 10px;
}

/* line 165, ../../app/stylesheets/_base.scss */
.deployment_block td {
  line-height: 14px;
  padding: 0px 2px;
}

/* MENU */
/* line 172, ../../app/stylesheets/_base.scss */
.menu {
  width: 139px;
  float: left;
  font-size: 12px;
  margin-right: 30px;
}

/* line 179, ../../app/stylesheets/_base.scss */
.menu_box {
  width: 169px;
  margin: 0px 0px 20px 0px;
}

/* line 184, ../../app/stylesheets/_base.scss */
.menu_box_header {
  height: 23px;
  background: url('/images/peritor_theme/menu_top.gif?1294735737') repeat-x;
}

/* line 189, ../../app/stylesheets/_base.scss */
.menu_box_arrow {
  float: right;
  line-height: none;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  height: 20px;
}

/* line 198, ../../app/stylesheets/_base.scss */
.menu_box_body {
  padding: 10px 0px 2px 0px;
  border-right: 1px solid #c30911;
  border-left: 1px solid #c30911;
  width: 167px;
  overflow: hidden;
}

/* line 206, ../../app/stylesheets/_base.scss */
.menu_box_footer {
  width: 169px;
  height: 8px;
  background: url('/images/peritor_theme/menu_bottom.gif?1294735737') top repeat-x;
}

/* line 212, ../../app/stylesheets/_base.scss */
.menu_item {
  padding: 2px 0px 4px 10px;
}

/* line 216, ../../app/stylesheets/_base.scss */
.menu_title {
  float: left;
  padding: 4px 0px 0px 11px;
}

/* line 221, ../../app/stylesheets/_base.scss */
.has_submenu {
  padding-left: 0px !important;
}

/* line 225, ../../app/stylesheets/_base.scss */
.menu_title a {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
}

/* line 231, ../../app/stylesheets/_base.scss */
.menu_title a:hover {
  color: #FFFFFF;
}

/* line 235, ../../app/stylesheets/_base.scss */
.menu_link_title {
  padding: 5px 0px 4px 10px;
  line-height: 1;
  height: 11px;
  overflow: hidden;
  white-space: nowrap;
  cursor: hand;
}

/* line 244, ../../app/stylesheets/_base.scss */
.menu_icons {
  float: left;
  height: 20px;
  margin-top: 1px;
}

/* line 250, ../../app/stylesheets/_base.scss */
a.menu_link {
  outline-style: none !important;
  outline-width: 0pt !important;
  display: block;
  clear: both;
  width: 167px;
  color: #000000;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 1px;
  text-decoration: none;
}

/* line 263, ../../app/stylesheets/_base.scss */
a.menu_link:hover {
  color: #A40008;
  background-color: #EEEEEE;
  font-weight: bold;
  text-decoration: none;
}

/* line 270, ../../app/stylesheets/_base.scss */
a.active_menu_link {
  color: #A40008;
  background-color: #EEEEEE;
}

/* line 275, ../../app/stylesheets/_base.scss */
a.active_menu_link:hover {
  color: #A40008;
  background-color: #EEEEEE;
}

/* line 280, ../../app/stylesheets/_base.scss */
a.menu_link_new {
  background: url('/images/peritor_theme/arrow_content.gif?1294735737') left no-repeat;
  background-position: 29px 4px;
  padding-left: 13px;
}

/* line 286, ../../app/stylesheets/_base.scss */
a.menu_link_create {
  background: url('/images/peritor_theme/arrow_content.gif?1294735737') left no-repeat;
  background-position: 8px 4px;
  padding-left: 13px;
}

/* CONTENT LINKS */
/* line 295, ../../app/stylesheets/_base.scss */
a.arrow_link {
  background: url('/images/peritor_theme/arrow_content.gif?1294735737') left no-repeat;
  background-position: 0px 2px;
  padding-left: 14px;
}

/* line 301, ../../app/stylesheets/_base.scss */
a.arrow_link_big {
  background: url('/images/peritor_theme/arrow_content_big.gif?1294735737') left no-repeat;
  padding-left: 14px;
  font-size: 17px;
}

/* BOX grey*/
/* line 309, ../../app/stylesheets/_base.scss */
div.box {
  float: left;
}

/* line 313, ../../app/stylesheets/_base.scss */
div.box_top {
  margin-top: 6px;
  height: 20px;
  width: 387px;
  background: url('/images/peritor_theme/box_grey.gif?1294735737') top no-repeat;
}

/* line 320, ../../app/stylesheets/_base.scss */
div.box_middle {
  padding: 0px 10px 0px 25px;
  width: 352px;
  min-height: 113px;
  *height: 113px;
  background: url('/images/peritor_theme/box_grey.gif?1294735737') center no-repeat;
}

/* line 328, ../../app/stylesheets/_base.scss */
div.box_bottom {
  height: 20px;
  width: 387px;
  background: url('/images/peritor_theme/box_grey.gif?1294735737') bottom no-repeat;
}

/* BOX Special */
/* line 338, ../../app/stylesheets/_base.scss */
div.action_box {
  float: right;
  width: 274px;
  margin-left: 10px;
  margin-top: 0px;
}

/* line 345, ../../app/stylesheets/_base.scss */
div.special_box {
  float: right;
  margin-right: -6px;
  *margin-right: 0px;
  background: url('/images/peritor_theme/box_light.gif?1294735737') center no-repeat;
}

/* line 352, ../../app/stylesheets/_base.scss */
div.special_box_top {
  height: 12px;
  width: 270px;
  background: url('/images/peritor_theme/box_light.gif?1294735737') top no-repeat;
}

/* line 359, ../../app/stylesheets/_base.scss */
div.special_box_middle {
  padding: 10px 10px 0px 30px;
  width: 230px;
  min-height: 133px;
  *height: 120px;
}

/* line 366, ../../app/stylesheets/_base.scss */
div.special_box_bottom {
  height: 12px;
  width: 270px;
  background: url('/images/peritor_theme/box_light.gif?1294735737') bottom no-repeat;
}

/* line 372, ../../app/stylesheets/_base.scss */
div.status_box {
  background: url('/images/peritor_theme/box_status.gif?1294735737') center no-repeat;
}

/* line 376, ../../app/stylesheets/_base.scss */
div.stages_box {
  background: url('/images/peritor_theme/box_stages.gif?1294735737') center no-repeat;
}

/* line 380, ../../app/stylesheets/_base.scss */
div.deployments_box {
  background: url('/images/peritor_theme/box_deployments.gif?1294735737') center no-repeat;
}

/* line 384, ../../app/stylesheets/_base.scss */
div.host_box {
  background: url('/images/peritor_theme/box_host.gif?1294735737') center no-repeat;
}

/* line 388, ../../app/stylesheets/_base.scss */
div.recipe_box {
  background: url('/images/peritor_theme/box_recipe.gif?1294735737') center no-repeat;
}

/* line 392, ../../app/stylesheets/_base.scss */
div.user_box {
  background: url('/images/peritor_theme/box_user.gif?1294735737') center no-repeat;
}

/* BOX small grey */
/* line 398, ../../app/stylesheets/_base.scss */
div.small_box {
  margin-top: 18px;
  float: right;
}

/* line 403, ../../app/stylesheets/_base.scss */
div.small_box_top {
  height: 20px;
  width: 252px;
  background: url('/images/peritor_theme/box_small.gif?1294735737') top no-repeat;
}

/* line 409, ../../app/stylesheets/_base.scss */
div.small_box_middle {
  padding: 0px 10px 0px 20px;
  width: 222px;
  min-height: 100px;
  *height: 109px;
  background: url('/images/peritor_theme/box_small.gif?1294735737') center no-repeat;
}

/* line 417, ../../app/stylesheets/_base.scss */
div.small_box_bottom {
  height: 20px;
  width: 252px;
  background: url('/images/peritor_theme/box_small.gif?1294735737') bottom no-repeat;
}

/* FLASHBOX */
/* line 425, ../../app/stylesheets/_base.scss */
#flash {
  padding: 0px;
  font-weight: bold;
}

/* line 430, ../../app/stylesheets/_base.scss */
.flash_text_info {
  color: #00AA00;
  padding: 15px 5px 12px 70px;
  background: url('/images/peritor_theme/info.gif?1294735737') left center no-repeat;
  background-position: 20px 0px;
}

/* line 437, ../../app/stylesheets/_base.scss */
.flash_text_error {
  color: #A40008;
  padding: 15px 5px 12px 70px;
  background: url('/images/peritor_theme/warning.gif?1294735737') left center no-repeat;
  background-position: 20px 0px;
}

/* line 444, ../../app/stylesheets/_base.scss */
.flash_text_locking {
  color: #A40008;
  padding: 15px 5px 12px 70px;
  background: url('/images/peritor_theme/locked.gif?1294735737') left center no-repeat;
  background-position: 20px 0px;
}

/* line 451, ../../app/stylesheets/_base.scss */
div.flash_box {
  clear: both;
  margin-top: 0px;
  margin-left: -10px;
  *margin-left: 0px;
  margin-bottom: 10px;
  width: 690px;
  *width: 667px;
  background: url('/images/peritor_theme/box_flash.gif?1294735737') center no-repeat;
  *background: url('/images/peritor_theme/box_flash_ie.gif?1294735737') center no-repeat;
}

/* line 463, ../../app/stylesheets/_base.scss */
div.flash_box_top {
  height: 18px;
  width: 690px;
  *width: 667px;
  background: url('/images/peritor_theme/box_flash.gif?1294735737') top no-repeat;
  *background: url('/images/peritor_theme/box_flash_ie.gif?1294735737') top no-repeat;
}

/* line 471, ../../app/stylesheets/_base.scss */
div.flash_box_middle {
  padding: 10px 10px 0px 30px;
  width: 690px;
  *width: 667px;
  min-height: 40px;
  *height: 40px;
}

/* line 479, ../../app/stylesheets/_base.scss */
div.flash_box_bottom {
  height: 15px;
  width: 690px;
  *width: 667px;
  background: url('/images/peritor_theme/box_flash.gif?1294735737') bottom no-repeat;
  *background: url('/images/peritor_theme/box_flash_ie.gif?1294735737') bottom no-repeat;
}

/* TEXT */
/* line 490, ../../app/stylesheets/_base.scss */
.breadcrumb {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  color: #666666;
  padding: 3px 15px;
}

/* line 497, ../../app/stylesheets/_base.scss */
#header h1 {
  margin-bottom: 0px;
  font-size: 28px;
  font-weight: bold;
  color: #A40008;
}

/* line 504, ../../app/stylesheets/_base.scss */
.content h2 {
  margin: 15px 0px 15px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
  color: #666666;
}

/* line 513, ../../app/stylesheets/_base.scss */
.content h3 {
  margin-top: 0px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #A40008;
}

/* line 521, ../../app/stylesheets/_base.scss */
.clear {
  display: block;
  clear: both;
  width: 100%;
  height: 1px;
  overflow: hidden;
}

/* line 529, ../../app/stylesheets/_base.scss */
.ontheright {
  margin-top: 5px;
  float: right;
}

/*
.quote {
	margin: 20px;
	text-align: center;
	font-weight: bold;
	font-style: italic
}
*/
/* TABLES */
/* line 545, ../../app/stylesheets/_base.scss */
table.sortable {
  width: 100%;
}

/* line 546, ../../app/stylesheets/_base.scss */
table.sortable tr.odd {
  background-color: #FAFAFA;
}

/* line 547, ../../app/stylesheets/_base.scss */
table.sortable tr.even {
  background-color: #EEEEEE;
}

/* line 548, ../../app/stylesheets/_base.scss */
table.sortable tbody tr:hover {
  background-color: #CCCCCC;
}

/* line 549, ../../app/stylesheets/_base.scss */
table.sortable td {
  padding: 4px;
}

/* line 550, ../../app/stylesheets/_base.scss */
table.sortable th {
  padding: 4px;
  white-space: nowrap;
}

/* MISC */
/* line 554, ../../app/stylesheets/_base.scss */
div.log_output {
  font-family: Courier, "Courier New", monospace;
  font-size: 11px;
  line-height: 16px;
  margin: 5px 0px;
  padding: 17px 10px 16px 40px;
  width: 574px;
  color: #333333;
  background: #eeeeee url('/images/peritor_theme/code_grid.gif?1294735737') top repeat;
  background-position: 0px 0px;
  overflow: auto;
}

/* line 567, ../../app/stylesheets/_base.scss */
.role_status_deployed {
  color: green;
}

/* line 571, ../../app/stylesheets/_base.scss */
.role_status_blank {
  color: red;
}

/* line 575, ../../app/stylesheets/_base.scss */
.role_status_setup_done {
  /*  color: #333333;*/
}

/* line 579, ../../app/stylesheets/_base.scss */
.deployment_status_success {
  color: green;
}

/* line 583, ../../app/stylesheets/_base.scss */
.deployment_status_failed {
  color: red;
}

/* line 587, ../../app/stylesheets/_base.scss */
.role_status_running {
  /*  color: #333333;*/
}

/* line 591, ../../app/stylesheets/_base.scss */
.configuration_prompt {
  font-style: italic;
}

/* RAILS related */
/* line 597, ../../app/stylesheets/_base.scss */
.fieldWithErrors input, .fieldWithErrors select, .fieldWithErrors textarea {
  background-color: #FFDFDF;
  border: 1px solid #A40008;
  display: inline;
  margin-bottom: 7px;
}

/*
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

*/
/* line 636, ../../app/stylesheets/_base.scss */
div.uploadStatus {
  margin: 5px;
}

/* line 640, ../../app/stylesheets/_base.scss */
div.progressBar {
  margin: 5px;
}

/* line 644, ../../app/stylesheets/_base.scss */
div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

/* line 650, ../../app/stylesheets/_base.scss */
div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

/* multiple select helper */
/* line 658, ../../app/stylesheets/_base.scss */
.multiple_select {
  border: 1px solid #aaa;
  height: 100px;
  width: 330px;
  padding: 2px;
  overflow: auto;
}

/* line 666, ../../app/stylesheets/_base.scss */
.multiple_select, .multiple_select ul {
  list-style-type: none;
  margin-top: 2px;
}

/* line 671, ../../app/stylesheets/_base.scss */
.multiple_select_checkbox {
  background: #fff;
}

/* line 675, ../../app/stylesheets/_base.scss */
.alt {
  background: #eef;
}

/* line 679, ../../app/stylesheets/_base.scss */
tr.disabled_host {
  color: grey;
}

/* line 683, ../../app/stylesheets/_base.scss */
tr.enabled_host {
  color: #A40008;
}

/* Syntax Highlighting */
/* line 690, ../../app/stylesheets/_base.scss */
.ruby .comment {
  color: #005;
  font-style: italic;
}

/* line 691, ../../app/stylesheets/_base.scss */
.ruby .keyword {
  color: #A00;
  font-weight: bold;
}

/* line 692, ../../app/stylesheets/_base.scss */
.ruby .method {
  color: #077;
}

/* line 693, ../../app/stylesheets/_base.scss */
.ruby .class {
  color: #074;
}

/* line 694, ../../app/stylesheets/_base.scss */
.ruby .module {
  color: #050;
}

/* line 695, ../../app/stylesheets/_base.scss */
.ruby .punct {
  color: #447;
  font-weight: bold;
}

/* line 696, ../../app/stylesheets/_base.scss */
.ruby .symbol {
  color: #099;
}

/* line 697, ../../app/stylesheets/_base.scss */
.ruby .string {
  color: #944;
  background: #FFE;
}

/* line 698, ../../app/stylesheets/_base.scss */
.ruby .char {
  color: #F07;
}

/* line 699, ../../app/stylesheets/_base.scss */
.ruby .ident {
  color: #004;
}

/* line 700, ../../app/stylesheets/_base.scss */
.ruby .constant {
  color: #07F;
}

/* line 701, ../../app/stylesheets/_base.scss */
.ruby .regex {
  color: #B66;
  background: #FEF;
}

/* line 702, ../../app/stylesheets/_base.scss */
.ruby .number {
  color: #F99;
}

/* line 703, ../../app/stylesheets/_base.scss */
.ruby .attribute {
  color: #7BB;
}

/* line 704, ../../app/stylesheets/_base.scss */
.ruby .global {
  color: #7FB;
}

/* line 705, ../../app/stylesheets/_base.scss */
.ruby .expr {
  color: #227;
}

/* line 706, ../../app/stylesheets/_base.scss */
.ruby .escape {
  color: #277;
}
