<%= form_for @user do |f| -%>
  <%= render('form', :f => f) %>

  <%= link_to 'Back to users', users_path, :class => 'arrow_link ontheright', :style => 'margin-right: 330px' %>

  <p>
    <%= f.submit "Create user" %>
  </p>
<% end -%>

<% content_for(:page_title) do %>
  <% @page_title = "New user" %>
  <h2>New user</h2>
<% end %>
