
- title  = "Projects"
- status = :open
- locals = { :title => title, :status => status, :path => projects_path }
= render(:partial => 'layouts/projects', :locals => locals, :layout => 'layouts/menu_box')

- title  = "Hosts"
- status = :open
- locals = { :title => title, :status => status, :path => hosts_path }
= render(:partial => 'layouts/hosts', :locals => locals, :layout => 'layouts/menu_box')

- title  = "Recipes"
- status = :open
- locals = { :title => title, :status => status, :path => recipes_path }
= render(:partial => 'layouts/recipes', :locals => locals, :layout => 'layouts/menu_box')

- title  = "Users"
- status = :open
- locals = { :title => title, :status => status, :path => users_path }
= render(:partial => 'layouts/users', :locals => locals, :layout => 'layouts/menu_box')
