<% if Project.count > 0 %>
  <% for project in Project.find(:all, :order => "name ASC") %>
    <li><%= link_to project.name, project_path(project) %></li>
  <% end %>
<% else %>
  <li>
    No project created yet<br />
    <%= link_to 'New project', new_project_path%>
  </li>
<% end %>
