<% if Recipe.count > 0 %>
  <% for recipe in Recipe.find(:all, :order => "name ASC") %>
    <li><%= link_to recipe.name, recipe_path(recipe) %></li>
  <% end %>
<% else %>
  <li>
    No recipe created yet<br />
    <%= link_to 'New recipe', new_recipe_path%>
  </li>
<% end %>
