<% if User.count > 0 %>
  <% for user in User.find(:all, :order => "login ASC") %>
    <li><%= link_to user.login, user_path(user) %></li>
  <% end %>
<% else %>
  <li>
    No user created yet<br />
    <%= link_to 'New user', new_user_path%>
  </li>
<% end %>
